doctype html
html
  head
    //- meta(charset='UTF-8')
    //- meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1')
    //- title 회원가입 화면
    //- link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    //- // load bootstrap css
    //- link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    // load fontawesome
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title 스탬팡
    // Bootstrap core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom fonts for this template
    link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    // Plugin CSS
    link(href='vendor/magnific-popup/magnific-popup.css', rel='stylesheet')
    // Custom styles for this template
    link(href='css/creative.min.css', rel='stylesheet')
    
    body
      nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
        .container
          a.navbar-brand.js-scroll-trigger(href='/main') StampANG
          button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
              
      header.masthead
        .header-content
          .header-content-inner
            h2#homeHeading
             br
            .container
              //.col-sm-6.col-sm-offset-3
              div(align="center" style='height:auto')
                h2
                  span.fa.fa-sign-in
                  |  회원가입
                  p
                // 인증 처리 후 메시지가 있으면 메시지 표시
                if ((message).length > 0)
                  .alert.alert-danger #{message}
                  
                hr
                form(action='signup', method='post')
                  .form-group
                    label 이메일
                    input.form-control(type='text', name='email' style='width:60%')
                    
                  .form-group
                    label 비밀번호
                    input.form-control(type='password', name='password' style='width:60%')

                  .form-group
                    label 이름
                    input.form-control(type='text', name='name' style='width:60%')
                  button.btn.btn-warning.btn-primary(type='submit' value="전송" name="" ) 회원가입
                hr
                p
                  | 이미 계정이 있으신가요? 
                  a(href='/login') 로그인하기
                  br
                  br
                  a(href='/main') 홈으로
          
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
          // Plugin JavaScript
    script(src='vendor/jquery-easing/jquery.easing.min.js')
    script(src='vendor/scrollreveal/scrollreveal.min.js')
    script(src='vendor/magnific-popup/jquery.magnific-popup.min.js')
          // Custom scripts for this template
    script(src='js/creative.min.js')  
        
